.container{
padding-bottom: 50px;
text-align: right;

}

#title{
  background-color: hsl(218, 28%, 13%);
  color: white;
text-align: center;
}
.navbar-brand{
  padding-right: 80px;

}
.nav-link{
  color: white;
  width: 100px;

}
.para1 {
  width: 100%;
  max-width: 660px;
    margin: 0 auto 1.5rem;
}



.all-files{
  width: 100%;
  max-width: 440px;

}





#section-two{
  color: white;
  background-color:  hsl(218, 28%, 13%);
width: 100%;

    padding-left: 20%;
}

#collaborate{
  background-color:  hsl(218, 28%, 13%);
  color: white;
  margin-top: 100px;
  width




}
.collab{
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-left: 50px;
      margin-right: 0px;
    padding-right: 250px;
    border-right-width: 300px;
}
.para2{
  margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 50px;
}

.stay-productive{
  width: 100%;
  height: auto;
  padding-right: 30px;
  width: 100%;
    max-width: 650px;
}
.btn{
  border-top-width: 1px;
margin-top: 40px;
padding-left: 40px;
padding-right: 40px;
border-right-width: 40px;
border-left-width: 40px;

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;


}
.heading{
  width: 100%;
  margin: 0 auto 1.5rem;
  max-width: 630px;
  display: block;
}
.Contact{
  margin:10px;
  padding: 20px;
  color: white;

}
.contact{
  padding: 10%;
  text-align: center;
  background-color: hsl(218, 28%, 13%);
  color: white;
  

}
.last{
     left: 30px;
    margin-top: 40px;
    margin-bottom: 40px; 
}
.links{
      font-size: 2rem;
    margin-left: 40px;
}
.grey{
  color: white;
  padding-bottom:  50px;
      margin-left: 40px;
    margin-top: 20px;
}

.con{
  padding-bottom: 20px;
}

.navbar-nav{
  padding-left: 30px;
}
.brand{
  width: 100px;
  padding-right: 20px;
}
